*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body,
    html {
      margin: 0;
      padding: 0;
      font-family: 'Nunito', sans-serif; }
    img {
        vertical-align: middle;
        border-style: none;
    }


/* start header */
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    height: 80px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.navbar-light .navbar-brand {
    color: #dc4f72;
    margin-top: -10px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
}

.nav-link {
    color: #dc4f72;
}

ul .navbar-nav .ml-auto {
    margin-top: 5px;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
    font-weight: 500;
    transition: 0.5s;
    margin-top: -2px;
}

.btn-outline-primary:hover {
    background: #dc4f72;
    border: #d62f58;
}

.navbar-light .navbar-brand:hover {
    color: #dc4f72;
}


.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0px 10px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #dc4f72;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    transition: 0.5s;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #dc4f72;

}


.navbar-light .navbar-nav .nav-link::before {
    display: block;
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background: #dc4f72;
    transition: 0.7s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 30%;
}

.dropdown-item {
    display: block;
    position: relative;
}

.dropdown-item:hover {
    color: #dc4f72;
    transition: 0.7s;
}

.dropdown-item::before {
    display: block;
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background: #dc4f72;
    transition: 0.7s;
}

.dropdown-item:hover::before {
    width: 20%;
}

/* end header  */

/* start carousel  */
.carousel {
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(./image/banner.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.carousel_active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel_title h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.carousel_title p {
    font-size: 17px;
    color: #636363;
    margin-bottom: 40px;

}

/* end carousel  */

/* start us  */
.info_us {
    text-align: center;
    margin-top: 30px;
}

.info_us b {
    color: #dc4f72;

}

.info_us h2 {
    font-size: 46px;
    font-weight: 600;
}

.info_us p {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.us_title {
    display: flex;
    justify-content: space-between;
}

.us_item {
    width: 31%;
    height: 300px;
    text-align: center;
    padding: 27px 0px;
    background: #f7f9fc;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.11);
}

.us_item h3 {
    margin: 17px;
}

.us_item p {
    color: #636363;
    font-size: 16px;
}

.us_item:hover {
    background: white;
    transform: translateY(-20px);
}

/* end us  */

/* NGUYỄN VŨ START */

    /* Company */
    .sub-title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #dc4f72;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .company, .number{
        background: #F7F9FC;
    }
    .company .companyinfo h3 {
        font-size: 35px;
        line-height: 40px;
        color: #2C3038;
        font-weight: 700;
    }
    .company .companyinfo p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #5a5a5a;
        line-height: 24.4px;
    }
    img.img-curve {
        border-radius: 6px;
        transition: 0.3s ease-in-out;
    }
    img.img-curve:hover {
        transform: translateY(-0.5rem);
    }
    .theme-button {
        transition: 0.3s ease-out;
        display: inline-block;
        line-height: 52px;
        font-weight: 700;
        font-size: 14px;
        margin: 0px;
        padding: 0px 30px;
        text-transform: uppercase;
        background-color: #dc4f72;
        border: none;
    }
    .btn-primary:hover {
        color: #fff;
        background-color: #d62f58;
        border-color: #cf2952;
    }
    /* Company End */
    
    /* Count Number */
    .number .number_info {
        background-color: #fff;
        padding: 2rem;
        border-radius: 6px;
        box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
        transition: 0.3s ease;
        border: 1px solid #eee;
    }
    .number .number_info h4 {
        font-size: 16px;
        line-height: 24.5px;
        text-transform: capitalize;
        color: #2C3038;
        font-weight: 700;
    }
    .number p.counter {
        font-size: 50px;
        line-height: 1;
        color: #dc4f72;
        margin-bottom: 0;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .number p{
        color: #5a5a5a;
    }
    /* Count Number End */
    
    
    /* We Are */
    .weare .weare_part {
        background-size: cover;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(./image/bg.jpg);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: center;
        background-attachment: fixed;
        min-height: 480px;
        display: grid;
        align-items: center;
        padding: 2rem 0;
    }
    .weare .weare_part2 {
        max-width: 550px;
    }
    .weare .weare_part2 h2 {
        color: #ffffff;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }
    
    .weare .weare_part3 p {
        font-size: 16px;
        color: #eee;
        line-height: 24.5px;
    }
    
    .btn-light:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
    
    .weare_button {
        transition: 0.3s ease-out;
        display: inline-block;
        line-height: 52px;
        font-weight: 700;
        font-size: 14px;
        margin: 0px;
        padding: 0px 30px;
        text-transform: uppercase;
        border: none;
        background: white;
    } 
    @media (max-width: 800px) {
        .weare .weare_part2 a {
            margin-top: 40px;
        }
    }
    
    @media (max-width: 667px) {
        .weare .weare_part3 {
            max-width: 523px;
        }
    
        .weare .weare_part2 a {
            margin-top: 30px;
        }
    
        .weare .weare_part3 p {
            font-size: 15px;
            line-height: 22px;
        }
    }
    
    @media (max-width: 440px) {
        .weare .weare_part2 h2 {
            font-size: 26px;
        }
    }
    
    @media (max-width: 384px) {
        .weare .weare_part2 a {
            margin-top: 25px;
        }
    }
    
    @media (max-width: 320px) {
        .weare .weare_part3 {
            width: 281px;
        }
    }
    /* We Are - End */
    
    
    /* Explore Solutions */
    .header-section {
        max-width: 750px;
        margin: 0 auto;
    }
    
    .header-section h3 {
        color: #2C3038;
        font-size: 46px;
        line-height: 1;
        font-weight: 700;
    }
    
    .header-section p {
        color: #5a5a5a;
        font-size: 16px;
        line-height: 22.5px;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .explore .explore_info {
        border-radius: 6px;
        transition: 0.3s ease-in;
        display: block;
        height: 100%;
        background: #fff;
        border: 1px solid #eee;
    }
    .explore .explore_info:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
        transform: translateY(-0.5rem);
    }
    .explore .grid-view a.zoom {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .explore a.zoom {
        overflow: hidden;
        position: relative;
    }
    .explore .grid-view img.news-image {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        filter: grayscale(1);
        transition: 0.3s;
    }
    
    .explore .grid-view p.date {
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        border-bottom: none;
        padding-bottom: 0px;
        position: absolute;
        top: 0;
        background: #dc4f72;
        padding: 15px;
        margin-bottom: 0;
        right: 0;
    }
    
    .explore .blog-info {
        background: #fff;
        padding: 30px 20px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .explore label.tag-label {
        padding: 5px 16px;
        display: inline-block;
        border-radius: 25px;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .explore label.tag-label.blue {
        background: rgba(0, 0, 255, 0.2);
        color: #0000ff;
    }
    .explore label.tag-label.green {
        background: rgba(0, 128, 0, 0.2);
        color: #008000;
    }
    .explore label.tag-label.red {
        background: rgba(238, 97, 120, 0.2);
        color: #dc4f72;
    }
    
    .explore .grid-view .explore_info h4 a {
        font-size: 22px;
        line-height: 27px;
        color: #2C3038;
        display: block;
        font-weight: 600;
        text-decoration: none;
    }
     .explore .grid-view .explore_info .blog-text p {
        font-size: 16px;
        line-height: 24.5px;
        color: #5a5a5a;
        margin-top: 15px;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 20px;
    } 
    .explore a.btn-news {
        padding: 0;
        color: #dc4f72;
        transition: 0.3s ease-in-out;
        border-radius: 0;
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
    }
    .explore .grid-view .explore_info .blog-info a span.fa{
        font-size: 10px;
        transition: 0.3s;
    }
    .explore .grid-view .explore_info:hover .blog-info a span.fa{
        transition: 0.3s ease-in-out;
        color: #cf2952;
        transform: translateX(5px);
    }
    .explore .grid-view .explore_info:hover h4 a{
        color: #dc4f72;
    }
    .explore .grid-view .explore_info:hover a img{
        filter: grayscale(0);
    }
    /* Explore Solutions End */
    
    /* Question and Answer */
    .qanda {
       background: #F7F9FC;
    }
    .faq-image img{
        margin-top: 30px;
    }
    .faq-image{
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
    details {
        padding-inline: 20px;
        border-radius: 6px;
    }
    
    details summary {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        padding: 15px 0px;
        border-radius: 10px;
    
    }
    
    details summary i {
        margin-top: 5px;
        transform: rotate(0deg);
        transition: 0.5s;
        transform-origin: 50% 50%;
    }
    
    details[open] summary i {
        transform: rotate(180deg);
        transition: 0.5s;
    }
    
    .fags_title ul {
        list-style: none;
        list-style-position: inside;
        padding-inline-start: 0px;
    }
    
    .fags_title ul li {
        background: white;
        margin-bottom: 23px;
        border-radius: 4px;
    }
    
    details summary p {
        transition: 0.5s;
        
    }
    details > p{
        color: #5a5a5a;
        font-size: 16px;
        line-height: 24.5px;
        max-height: 800px;
    }
    
    
    /* Question and Answer End */

/* NGUYỄN VŨ END */



/* start cases  */
.cases {
    height: 100vh;
}

.info_cases {
    text-align: center;
    margin-top: 30px;
}

.info_cases b {
    color: #dc4f72;

}

.info_cases h2 {
    font-size: 46px;
    font-weight: 600;
}

.info_cases p {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.cases_active {
    margin-inline: auto;
    max-width: 1000px;
    justify-content: center;
}

.cases_brother {
    display: flex;
    list-style: none;
    justify-content: center;
}

.cases_brother li {
    width: 300px;
    text-align: center;
    border-bottom: 2px solid gray;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 7px;
    color: #636363;
    cursor: pointer;
}


.cases_mother {
    display: flex;
    width: 100%;
    padding-inline: 50px;
    margin-top: 30px;
}

.cases_sister_1 {
    width: 50%;
}

.cases_sister_1 h2 {
    font-size: 30px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 16px;
}

.cases_sister_1 p {
    color: #636363;
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 24.5px;
}

.cases_sister_2 {
    width: 50%;
}

.cases_sister_2 img {
    width: 95%;
    text-align: center;
    margin-left: 20px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.cases_sister_2 img:hover {
    transform: translateY(-7px);
}

.cases_sister_2 .cases_khac {
    width: 90%;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);

}

.none {
    display: none !important;
}

.li-select {
    color: #dc4f72 !important;
    border-bottom: 3px solid #dc4f72 !important;
}
.bg_cases{
    background-color: white;
     border-color: rgb(193, 193, 193);
}

/* end cases  */

/* start clients  */
.clients {
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(./image/b2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.info_clients {
    text-align: center;
    margin-top: 30px;
}

.info_clients b {
    color: #dc4f72;
}

.info_clients h2 {
    font-size: 46px;
    font-weight: 600;
}

.info_clients p {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    padding: 20px 10px;
    display: flex;
    margin-bottom: 100px;
    border-radius: 10px;
}

.slider_title {
    margin-left: 12px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
}

.slider_title img {
    height: 100px;
    width: 100px;
    border: 3px solid #dc4f72;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
    object-position: 0px 0px;
    margin-right: 20px;
}

.slider_massege {
    display: flex;
}

.slider_massege i {
    font-size: 35px;
    color: #d5d6d7;
    margin-right: 10px;
}


.slider_footer {
    padding-left: 38px;
}

.slider_footer h4 {
    color: #dc4f72;
    font-size: 20px;
    font-weight: none;
}

.slider_footer p {
    font-size: 15px;
    color: #5a5a5a;
}

.swiper-pagination-bullet {
    width: 30px;
    border-radius: 1px;
    height: 5px;
    color: #dc4f72;
}

.swiper-pagination-bullet-active {
    background: #dc4f72;
}

.swiper-pagination-bullet:hover {
    background: #dc4f72;
}

/* end clients  */

/* start brand  */
.brand {
    height: 50vh;
    text-align: center;
}

.brand h2 {
    font-weight: 700;
    font-size: 45px;
}

.brand p {
    color: #636363;
}

.brand .button_brand {
    margin-top: 50px;
}

.brand .button_2 {
    background: #dc4f72;
    color: white;
    margin-left: 15px;
}

/* end brand  */
.footer {
    height: 68vh;
    background: #f7f9fc;
    margin-top: 100px;
}

.footer_impotant {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.footer_left {
    width: 55%;
    display: flex;
}

.footer_active {
    width: 33%;
    height: 300px;
}

.footer_active ul {
    list-style: none;
    padding-inline-start: 0px;
}

.footer_active ul li {
    padding-top: 15px;
}

.footer_active ul li a {
    text-decoration: none;
    color: #656f7b;
    font-size: 15px;
    transition: 0.3s;
}

.footer_active ul li a:hover {
    color: #dc4f72;
}

.footer_right {
    width: 45%;
}

.active_item {
    margin-top: 20px;
    background: white;
    padding: 12px 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.active_item label {
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.active_item input {
    width: 75%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #f7f9fc;
    padding-left: 15px;
}

.active_item button {
    width: 20%;
    height: 40px;
    background: #dc4f72;
    border: none;
}

.active_item button:hover {
    background: #dc4f72;
}

.active_item p {
    font-size: 16px;
    padding: 15px 0px;
}

.footer_over {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.over_left span a {
    text-decoration: none;
    color: black;
}

.footer_over .over_left span a:hover {
    color: #dc4f72;
}

.footer_sticker {
    float: right;
}

.footer_sticker a i {
    margin-inline: 10px;
    color: black;
}

.footer_right .footer_sticker a i:hover {
    color: #dc4f72;
}

/* end footer  */


/* Light theme */

  #switchButton {
    background-color: white;
    border: 1px solid black;
    margin-left: 30px;
    
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color:white;
  }
  .dark #switchButton {
    background-color: #232220;
    border: 1px solid #dae0e5;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: white;
  }
  .dark .company{
    background: #232220;
}
    .dark .number{
        background: #232220;
    }
  .dark h3{
    color: white;
}
  .dark p{
      color: white;
  }
  .dark .number_info{
      background-color: #232220;
  }
  .dark .number_info h4{
      color: white;
  }
  .dark #switchButton .fa-moon {
    display: none;
  }
  .dark .explore{
      background: #232220;
  }
  .dark .blog-info{
      background: #232220;
  }
  .dark .grid-view .explore_info h4 a{
      color: white;
  }
  .dark .qanda{
      background: #232220;
  }
  .dark .qanda_fags .fags_title ul li details p{
      color: #5a5a5a;;
  }
  .dark .header{
      background: #232220;
  }
  .dark .navbar-nav .nav-link{
      color: white;
  }
  .dark .us{
      background: #232220;
  }
  .dark .info_us h2{
    color: white;
  }
  .dark .us_item{
      background-color: #232220;
      border: 1px solid #656f7b;
  }

  .dark .cases{
      background: #232220;
  }
  .dark .info_cases h2{
      color: white;
  }
  .dark .cases_sister_1 h2{
      color: white;
  }
  .dark #li1{
      background: #232220;
  }
  .dark #li2{
      background: #232220;
  }
  .dark #li3{
      background: #232220;
  }
  .dark .info_clients p{
      color: #232220;
  }
  .dark .swiper-slide{
      background: #232220;
  }
  .dark .brand {
      background: #232220;
  }
  .dark .brand h2{
      color: white;
  }
  .dark#myBody{
      background: #5a5a5a;
  }
  .dark .footer{
      background: #232220;
  }
  .dark .active_item{
      background: #636363;
      border-radius: 6px;
  }
  .dark .footer_active h5{
      color: #dae0e5;
  }
  .dark .footer_right h5{
      color: #dae0e5;
  }
  .dark .active_item label{
      color: #dae0e5;
  }
  .dark .over_left span{
      color: #5a5a5a;
  }
  .dark .over_left span a{
      color: #dae0e5;
  }
  .dark .footer_sticker a i{
      color: #dae0e5;
  }
  